body {
    background-color: white;
    padding: 3%;
}

#myHeading {
    color: blue;
    text-align: center;
}

h2 {
    color: orange;
    text-align: center;
}

td {
    padding: 0.1%
}

.important {
    color: red;
}

footer {
    text-align: center;
    background-color: lightgrey;
}